[
  {
    "id": "nq9jg1h13qblr5m4wd2l3qxc",
    "taxa": "jhwicuh197",
    "specimen": "vh9qgoax40ha73jhekewift5",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "21.05.2022",
    "createdAt": "2024-09-28T20:43:32.501Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "ngwfx5tsz4e4rgu7qsxcljsu",
    "taxa": "jhwicuh33",
    "specimen": "6",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "26.05.2022",
    "createdAt": "2024-09-28T20:43:32.507Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "vgjkftlzff4580yuedbsmta6",
    "taxa": "jhwicuh34",
    "specimen": "7",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "26.05.2022",
    "createdAt": "2024-09-28T20:43:32.509Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "o4whu6kk54qucy72bqzmd2kg",
    "taxa": "jhwicuh148",
    "specimen": "8",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "26.05.2022",
    "createdAt": "2024-09-28T20:43:32.510Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "ojm5czfyofiv3wwfhkoo4jjd",
    "taxa": "jhwicuh57",
    "specimen": "9",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "26.05.2022",
    "createdAt": "2024-09-28T20:43:32.512Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "o9acl6rut7ud0vhgqs2vfacc",
    "taxa": "jhwicuh58",
    "specimen": "10",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "26.05.2022",
    "createdAt": "2024-09-28T20:43:32.514Z",
    "updatedAt": "2024-10-05T19:36:10.168Z",
    "status": "accepted"
  },
  {
    "id": "ugyr477d426hx50q4gridjyy",
    "taxa": "jhwicuh58",
    "specimen": "11",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "26.05.2022",
    "createdAt": "2024-09-28T20:43:32.516Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "ghrxnkof3kiwn7r7zfikn4hp",
    "taxa": "jhwicuh57",
    "specimen": "12",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "26.05.2022",
    "createdAt": "2024-09-28T20:43:32.519Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "yvaqlhnjr7m70qvuslxqec5l",
    "taxa": "jhwicuh58",
    "specimen": "13",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "26.05.2022",
    "createdAt": "2024-09-28T20:43:32.521Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "dzyhza58i3iuoncnorqlfl1z",
    "taxa": "jhwicuh58",
    "specimen": "14",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "26.05.2022",
    "createdAt": "2024-09-28T20:43:32.523Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "pj0v35rnh4h76by9hlqqh22c",
    "taxa": "jhwicuh224",
    "specimen": "16",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "25.IV.2023",
    "createdAt": "2024-09-28T20:43:32.527Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "iascnste3mtn53tbnm52lani",
    "taxa": "jhwicuh224",
    "specimen": "17",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "25.IV.2023",
    "createdAt": "2024-09-28T20:43:32.529Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "hf94neleiocswcs0j40ae0xr",
    "taxa": "jhwicuh148",
    "specimen": "18",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "male",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "28.IV.2023",
    "createdAt": "2024-09-28T20:43:32.530Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "zse3aynovimvcr2368eyp55z",
    "taxa": "jhwicuh148",
    "specimen": "19",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "male",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "28.IV.2023",
    "createdAt": "2024-09-28T20:43:32.533Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "pr6uzhqzr7zinzl48kbgjkq4",
    "taxa": "jhwicuh148",
    "specimen": "20",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "male",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "28.IV.2023",
    "createdAt": "2024-09-28T20:43:32.535Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "txpodor2wmebqrp955rbsgqj",
    "taxa": "jhwicuh148",
    "specimen": "21",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "male",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "28.IV.2023",
    "createdAt": "2024-09-28T20:43:32.538Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "i2c6m3mfau1ew8doo3hd5vj4",
    "taxa": "jhwicuh148",
    "specimen": "22",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "female",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "28.IV.2023",
    "createdAt": "2024-09-28T20:43:32.540Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "cdcs638mmng9eogvvm1b646z",
    "taxa": "jhwicuh148",
    "specimen": "23",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "female",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "28.IV.2023",
    "createdAt": "2024-09-28T20:43:32.542Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "tbdale1eoyuxevtr5b4a87va",
    "taxa": "jhwicuh148",
    "specimen": "24",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "male",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "28.IV.2023",
    "createdAt": "2024-09-28T20:43:32.544Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "ouoixelxefvfoy9iutiemfmm",
    "taxa": "jhwicuh148",
    "specimen": "25",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "male",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "28.IV.2023",
    "createdAt": "2024-09-28T20:43:32.547Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "dqecnq7sg2kn1638h9xpxtzq",
    "taxa": "jhwicuh246",
    "specimen": "27",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "02.V.2023",
    "createdAt": "2024-09-28T20:43:32.552Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "vbzhmk7o7wb6smrlf08y3v6k",
    "taxa": "jhwicuh148",
    "specimen": "28",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "female",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "28.IV.2023",
    "createdAt": "2024-09-28T20:43:32.555Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "wpxvodiel620mdtlko2iwp9i",
    "taxa": "jhwicuh148",
    "specimen": "29",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "male",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "28.IV.2023",
    "createdAt": "2024-09-28T20:43:32.558Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "aoy9ulq2qj517jxzay851yaj",
    "taxa": "jhwicuh301",
    "specimen": "30",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "male",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "28.IV.2023",
    "createdAt": "2024-09-28T20:43:32.560Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "d00dlekqfr77k1z4difpny4t",
    "taxa": "jhwicuh301",
    "specimen": "31",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "male",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "28.IV.2023",
    "createdAt": "2024-09-28T20:43:32.562Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "fhgscl99kd4opdw5oemnocv6",
    "taxa": "jhwicuh208",
    "specimen": "32",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "12.XI.2023",
    "createdAt": "2024-09-28T20:43:32.564Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "q5o2kzqs1qdwn5apv8gjcv2p",
    "taxa": "jhwicuh294",
    "specimen": "41",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "12.XI.2023",
    "createdAt": "2024-09-28T20:43:32.587Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "rdg7r6ui6in3d7k1c2vt3254",
    "taxa": "jhwicuh250",
    "specimen": "46",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "12.XI.2023",
    "createdAt": "2024-09-28T20:43:32.600Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "jon6tlot4v8jhbwm90o0bppr",
    "taxa": "jhwicuh229",
    "specimen": "47",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "12.XI.2023",
    "createdAt": "2024-09-28T20:43:32.601Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "qgtkkt8x41idxth2tnff9cf1",
    "taxa": "jhwicuh225",
    "specimen": "48",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "12.XI.2023",
    "createdAt": "2024-09-28T20:43:32.603Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "sespjuv799u8p7w3lftt1pci",
    "taxa": "jhwicuh218",
    "specimen": "49",
    "form": "f. niko",
    "formAuthorship": "(Christoph, 1893)",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "12.XI.2023",
    "createdAt": "2024-09-28T20:43:32.605Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "n1crpks55f9bbom1oya2dza1",
    "taxa": "jhwicuh220",
    "specimen": "50",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "Baznikin A.I.",
    "idDate": "12.XI.2023",
    "createdAt": "2024-09-28T20:43:32.608Z",
    "updatedAt": "2024-10-05T19:36:08.651Z",
    "status": "accepted"
  },
  {
    "id": "xas2cs9yk9841ax02rp5j9d2",
    "taxa": "jhwicuh24",
    "specimen": "10",
    "status": "outdated",
    "form": "",
    "formAuthorship": "",
    "customTaxon": "",
    "customTaxonAuthorship": "",
    "sex": "unknown",
    "isAberrated": false,
    "idName": "",
    "idDate": "",
    "createdAt": "2024-10-01T19:30:18.207Z",
    "updatedAt": "2024-10-05T19:36:10.172Z"
  }
]